@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@font-face {
  font-family: 'GulimCheCustom'; /* 사용할 이름 */
  src: url('/fonts/GulimChe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Tailwind v4 또는 일반 CSS 클래스로 정의 */
.font-chatwindow {
    font-family: 'GulimCheCustom', sans-serif !important;
}

.font-songmyung {
    font-family: var(--font-song-myung), serif !important;
}

textarea.font-songmyung {
    font-family: var(--font-song-myung), serif !important;
}

textarea.font-chatwindow {
    font-family: 'GulimCheCustom', sans-serif !important;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    text-rendering: optimizeSpeed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'GulimCheCustom', sans-serif;
  -webkit-font-smoothing: antialiased;
}